.new-pneu-form {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  background-color: #cacaca;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.new-pneu-form h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.button-container button {
  width: auto;
  padding: 10px 15px;
}

.form-field {
  margin-bottom: 10px;
}

.form-field label {
  display: block;
  margin-bottom: 5px;
}

.form-field input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
}


