<div class="button-container">
  <button mat-raised-button color="primary" style="width: 100%; border-radius: 8px; background-color: green;"
    (click)="irParaNewCupom()">
    <mat-icon>add</mat-icon>
    Adicionar cupom
  </button>
</div>
<table class="tabela-cupons">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>codigo</th>
      <th>Desconto</th>
      <th>Estoque</th>
      <th>Editar</th>
      <th>Excluir</th>
    </tr>
  </thead>
  <tbody>
    @for(cupom of cupons; track cupom.id){
    <tr>
      <td>{{ cupom.id }}</td>
      <td>{{ cupom.nome }}</td>
      <td>{{ cupom.codigo}}</td>
      <td>{{ cupom.valorDesconto}}%</td>
      <td>{{ cupom.quantidade }}</td>
      <td><mat-icon (click)="editar(cupom.id!)">edit</mat-icon></td>
      <td><mat-icon (click)="deletar(cupom.id!, cupom.nome!)">delete</mat-icon></td>

    </tr>
    }

  </tbody>
</table>
