<div class="button-container">
  <button mat-raised-button color="primary" style="width: 100%; border-radius: 8px; background-color: green;"
    (click)="irParaNewProduto()">
    <mat-icon>add</mat-icon>
    Adicionar Produto
  </button>
</div>
<table class="tabela-produtos">
  <thead>
    <tr>
      <th style="width: 8%;">ID</th>
      <th style="width: 22%;">Nome</th>
      <th style="width: 20%;">Nome Longo</th>
      <th style="width: 10%;">Preço</th>
      <th style="width: 10%;">Quantidade em Estoque</th>
      <th style="width: 5%;">Editar</th>
      <th style="width: 5%;">Excluir</th>
    </tr>
  </thead>
  <tbody>
    @for(produto of produtos; track produto.id){

    <tr>
      <td>{{ produto.id }}</td>
      <td>{{ produto.nome }}</td>
      <td>{{ produto.nomeLongo }}</td>
      <td>{{ produto.preco}}</td>
      <td>{{ produto.estoque }}</td>
      <td><mat-icon (click)="editar(produto.id!)">edit</mat-icon></td>
      <td><mat-icon (click)="deletar(produto.id!, produto.nome!)">delete</mat-icon></td>

    </tr>
    }

  </tbody>
</table>

<mat-paginator
    [pageSizeOptions]="[10, 20, 30, 40]"
    [pageSize]="pageSize"
    [length]="totalRecords"
    (page)="paginar($event)">
  </mat-paginator>

