<div class="button-container"><button mat-raised-button color="primary" style="width: 100%; border-radius: 8px; background-color: green;"
    (click)="irParaNewUsuario()">
    <mat-icon>add</mat-icon>
    Adicionar Usuário
  </button></div>

<table class="tabela-usuarios">
  <thead>
    <tr>
      <th style="width: 8%;">ID</th>
      <th style="width: 20%;">Nome</th>
      <th style="width: 15%;">Login</th>
      <th style="width: 15%;">Email</th>
      <th style="width: 13%;">CPF</th>
      <th style="width: 8%;">Editar</th>
      <th style="width: 8%;">Resetar Senha</th>
      <th style="width: 8%;">Excluir</th>
    </tr>
  </thead>
  <tbody>

    @for (usuario of usuarios; track usuario.id){
    <tr>
      <td>{{ usuario.id }}</td>
      <td>{{ usuario.nome }}</td>
      <td>{{ usuario.login }}</td>
      <td>{{ usuario.email }}</td>
      <td>{{ usuario.cpf }}</td>
      <td><mat-icon (click)="editar(usuario.id!)">edit</mat-icon></td>
      <td><mat-icon (click)="this.resetarSenha(usuario.id!, usuario.nome!)">lock_reset</mat-icon></td>
      <td><mat-icon (click)="this.deletar(usuario.id!, usuario.nome!)">delete</mat-icon></td>
    </tr>


    }
  </tbody>
</table>
