.finalizar-compra-container {
  width: 80%;
  margin: 0 auto;
}

.full-width {
  width: 100%;
}

.button-container {
  margin-top: 20px;
}
.form-field {
  margin-bottom: 10px;
}

.form-field label {
  display: block;
  margin-bottom: 5px;
}

.form-field input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}
