.icons-toolbar {
  flex: 1 1 auto;
}
.layout{
  width: 100%;
}
.outlet{
  padding: 1ch;
}
.search-container {
  display: flex;
  align-items: center;
  margin-left: auto; /* Empurra o campo de pesquisa para a direita */
}

.search-container input {
  margin-right: 8px; /* Espaço entre o campo de entrada e o botão */
  margin-left: 8px;
  width: 200px; /* Largura do campo de entrada */
}
/* Estilo para animação de hover nos botões mat-menu-item */
.mat-menu-item {
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.mat-menu-item:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}
