.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mat-toolbar{
  background-color: #00008b;
  color: white;
}
.left-section {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.right-section {
  display: flex;
  align-items: center;
}

.outlet {
  flex: 1;
}

@media (max-width: 600px) {
  mat-toolbar {
    flex-direction: row;
    align-items: center;
  }

  .left-section, .right-section {
    width: auto;
    justify-content: flex-start;
  }

  .right-section {
    justify-content: flex-end;
  }
}
