/* produto.component.css */
.new-produto-form {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  background-color: #cacaca;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.image-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}
.upload-progress {
  margin-top: 10px;
}

.upload-percent {
  margin-top: 5px;
  font-size: 14px;
  color: #333;
  text-align: center;
}


.image-item {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 5px;
}

.product-image {
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
}

.remove-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  align-self: center; /* Centraliza verticalmente o botão */
}

.add-image {
  margin-top: 20px;
}

input[type='text'] {
  padding: 5px;
  margin-right: 5px;
}


.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px; /* Espaço entre os botões */
}

.new-produto-form h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.form-field {
  margin-bottom: 10px;
}

.form-field label {
  display: block;
  margin-bottom: 5px;
}

.form-field input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.new-produto-form select {
  background-color: white;
}
