.tabela-pedidos {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px; /* Espaçamento acima da tabela */
}

.mat-icon{
  cursor: pointer;
}

.tabela-pedidos th, .tabela-pedidos td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.tabela-pedidos th {
  background-color: #f2f2f2;
}
