<table class="tabela-pedidos">
  <thead>
    <tr>
      <th>ID</th>
      <th>codigo</th>
      <th>Usuario</th>
      <th>Status</th>
      <th>Data Prevista</th>
      <th>Editar</th>
      <th>Excluir</th>
    </tr>
  </thead>
  <tbody>
    @for (pedido of pedidos; track pedido.id) {
    <tr>
      <td>{{ pedido.id }}</td>
      <td>#{{ pedido.codigo }}</td>
      <td>{{ pedido.usuario }}</td>
      <td>{{ pedido.status }}</td>
      <td>{{ pedido.dataPrevista }}</td>
      <td><button mat-icon-button >
          <mat-icon>edit</mat-icon>
        </button></td>
      <td><button mat-icon-button >
          <mat-icon>delete</mat-icon>
        </button></td>

    </tr>
    }

  </tbody>
</table>
