.new-produto-form {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  background-color: #cacaca;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.new-produto-form form {
  display: flex;
  flex-direction: column;
}

.new-produto-form form label {
  margin-top: 10px;
}

.form-field {
  margin-bottom: 10px;
}

.new-produto-form form input, .new-produto-form form select {
  padding: 8px;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.button-container button {
  width: auto;
  padding: 10px 15px;
}

