<mat-toolbar class="mat-toolbar">
  <div (click)="irParaHomeAdmin()" style="cursor: pointer;">
    <span>Bike Shop</span>
  </div>
  <span class="icons-toolbar"></span>

  <!-- Botão de Configurações -->
  <button mat-icon-button [matMenuTriggerFor]="settingsMenu" class="example-icon"
    aria-label="Example icon-button with settings icon">
    <mat-icon>settings</mat-icon>
  </button>


  <!-- Menu de Configurações -->
  <mat-menu #settingsMenu="matMenu">

    <button mat-menu-item (click)="voltarHome()">
      <mat-icon>person</mat-icon>
      <span>Home Usuario</span>
    </button>
  </mat-menu>
</mat-toolbar>
<div class="outlet">
  <router-outlet></router-outlet>
</div>
