<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <div (click)="irParaHomeAdmin()" style="cursor: pointer;">
    <span>Bike Shop</span>
  </div>
  <span class="icons-toolbar"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>

  <!-- Botão de Configurações -->
  <button mat-icon-button [matMenuTriggerFor]="settingsMenu" class="example-icon" aria-label="Example icon-button with settings icon">
    <mat-icon>settings</mat-icon>
  </button>

  <!-- Menu de Configurações -->
  <mat-menu #settingsMenu="matMenu">
  </mat-menu>
</mat-toolbar>
<div class="outlet"><router-outlet></router-outlet></div>

