.produtos-favoritos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  margin: auto; /* Centraliza o contêiner .produtos-favoritos na página */
}

.app-card-produto-favorito {
  margin: 10px auto; /* Adiciona margem acima/abaixo e centraliza horizontalmente cada card */
  /* Adicione mais estilos aqui conforme necessário */
}

@media (max-width: 710px) {
  .produtos-favoritos {
    width: 95%;
  }
}
