<div class="produtos-favoritos">
  <app-card-produto-favorito>

    id: '1',
    imageUrl: 'https://via.placeholder.com/150x180',
    title: 'Produto 1',
    price: 99.99,
    stars: 4,
    description: 'Descrição do Produto 1'
  </app-card-produto-favorito>
  <app-card-produto-favorito>

    id: '1',
    imageUrl: 'https://via.placeholder.com/150x180',
    title: 'Produto 1',
    price: 99.99,
    stars: 4,
    description: 'Descrição do Produto 1'
  </app-card-produto-favorito>
  <app-card-produto-favorito>

    id: '1',
    imageUrl: 'https://via.placeholder.com/150x180',
    title: 'Produto 1',
    price: 99.99,
    stars: 4,
    description: 'Descrição do Produto 1'
  </app-card-produto-favorito>
  <app-card-produto-favorito>

    id: '1',
    imageUrl: 'https://via.placeholder.com/150x180',
    title: 'Produto 1',
    price: 99.99,
    stars: 4,
    description: 'Descrição do Produto 1'
  </app-card-produto-favorito>
  <app-card-produto-favorito>

    id: '1',
    imageUrl: 'https://via.placeholder.com/150x180',
    title: 'Produto 1',
    price: 99.99,
    stars: 4,
    description: 'Descrição do Produto 1'
  </app-card-produto-favorito>

</div>
