.carousel-container {
  position: relative; /* Define o container do carrossel como referência para o posicionamento absoluto das setas */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 60%; /* Largura inicial do carrossel */
  margin: auto; /* Centraliza o carrossel horizontalmente */
}

.carousel-slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide img {
  max-width: 100%; /* Garante que a imagem não exceda a largura do container */
  display: block; /* Remove espaços extras abaixo da imagem */
}

.left-arrow, .right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 10; /* Assegura que as setas estejam acima das imagens */
}

.left-arrow {
  left: 10px; /* Ajuste para que a seta fique visível na esquerda */
}

.right-arrow {
  right: 10px; /* Ajuste para que a seta fique visível na direita */
}

/* Ajustes para dispositivos móveis */
@media (max-width: 768px) {
  .carousel-container {
    width: 80%; /* Aumenta a largura do carrossel para 80% em dispositivos móveis */
  }

  .left-arrow, .right-arrow {
    padding: 5px; /* Reduz o padding das setas para economizar espaço */
    font-size: 18px; /* Ajusta o tamanho se estiver usando ícones de fonte */
  }
}

@media (max-width: 480px) {
  .carousel-container {
    width: 100%; /* O carrossel ocupa 100% da largura em celulares */
  }

  .left-arrow, .right-arrow {
    padding: 5px; /* Mantém o padding reduzido das setas */
    font-size: 16px; /* Ajusta ainda mais o tamanho para telas muito pequenas */
  }
}
