.produto-favorito {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 1px solid #ccc;
  margin: 10px 0;
}

.imagem-container, .detalhes-container, .acoes-container {
  padding: 10px;
}

.imagem-produto {
  width: 100%;
  max-width: 150px;
  height: auto;
}

.detalhes-container {
  flex: 1;
}

.titulo, .estrelas, .preco {
  margin: 5px 0;
}

.adicionar-carrinho {
  background-color: yellow;
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.acoes-secundarias {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.remover-produto, .compartilhar-produto {
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 710px) {
  .produto-favorito {
    flex-direction: column;
    align-items: center;
  }

  .imagem-container, .detalhes-container, .acoes-container {
    width: 100%;
    text-align: center;
  }

  .acoes-secundarias {
    justify-content: center;
  }

  .adicionar-carrinho{
    width: 90%;
    margin: 5px 0;
  }
  .remover-produto, .compartilhar-produto {
    width: 100%;
    margin: 5px 0;

  }
}
