<div class="product-detail-container">
  <div class="miniature-images">
    @for (img of produto.img; track img) {
    <img src="{{img}}" alt="{{produto.nome}}">
    }
  </div>
  <div class="product-info">
    <h1>{{produto.nome}}</h1>
    <h2>R$ {{produto.preco}}</h2>
    <div class="product-buttons">
      <button class="buy-now">Comprar Agora</button>
      <button class="add-to-cart">Adicionar ao Carrinho</button>
      <button class="add-to-wishlist">Adicionar à Lista de Desejos</button>
    </div>
    <div class="product-description">
      <h3>Descrição do Produto</h3>
      <p>{{produto.descricao!}}</p>
    </div>
  </div>
</div>
