.product-detail-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 20px 20px 20px;
  gap: 40px;
}

.product-images {
  flex: 1;
  max-width: 40%;
  margin: 10px;
}

.miniature-images {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-start;
  align-items: center;
}

.miniature-images img {
  cursor: pointer;
  transition: transform 0.2s;
  max-width: 200px;
  max-height: 220px;
}

.miniature-images img:hover {
  transform: scale(1.5);
}

.image-list {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.image-list img {
  width: 20%;
  height: auto;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: border 0.3s;
}

.image-list img:hover {
  border: 1px solid #007bff;
}

.product-info {
  flex: 1;
  max-width: 60%;
  padding: 10px;
}

.product-info h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.product-info h2 {
  font-size: 1.5em;
  color: #007bff;
  margin-bottom: 20px;
}

.product-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.product-buttons button {
  flex: 1;
  padding: 10px;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buy-now {
  background-color: #28a745;
  color: white;
}

.buy-now:hover {
  background-color: #218838;
}

.add-to-cart {
  background-color: #007bff;
  color: white;
}

.add-to-cart:hover {
  background-color: #0069d9;
}

.add-to-wishlist {
  background-color: #ffc107;
  color: white;
}

.add-to-wishlist:hover {
  background-color: #e0a800;
}

.product-description h3 {
  margin-top: 20px;
  font-size: 1.2em;
}

.product-description p {
  font-size: 1em;
  color: #555;
}


/* .product-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
  }

  .product-details {
    display: grid;
    gap: 20px;
  }

  .title-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title-price .price {
    position: relative;
    padding: 0 15px;
  }

  .title-price .price::before {
    left: -20px;
  }

  .title-price .price::after {
    right: -20px;
  }

  .center-warning {
    right: 50px;
    text-decoration: solid;
    text-align: center;
    background-color: yellow;
    width: 100%;
    height: 30px;
  }

  .options {
    display: grid;
    gap: 10px;
  }

  .button {
    cursor: pointer;
    width: 200px;
    height: 30px;
  }

  .wishlist-icon {
    cursor: pointer;
  } */
