<div class="produto-favorito">
  <div class="imagem-container">
    <img src={{imageUrl}} alt={{title}} class="imagem-produto">
  </div>
  <div class="detalhes-container">
    <h3 class="titulo">{{title}}</h3>
    <p class="estrelas"> {{'★'}}  {{stars}}</p>
    <p class="preco">{{price}}</p>
  </div>
  <div class="acoes-container">
    <button class="adicionar-carrinho" (click)="comprar()">Adicionar ao Carrinho</button>
    <div class="acoes-secundarias">
      <button class="remover-produto"><mat-icon (click)="deletar()">delete</mat-icon></button>
      <!-- <button class="compartilhar-produto" ><mat-icon>share</mat-icon></button>  -->
      <button class="desfavoritar-produto"><mat-icon>favorite</mat-icon></button>
    </div>
  </div>
</div>
