<!-- produto.component.html -->
<div  class="new-produto-form">
  <h2>Atualizar Ferramenta</h2>
  <form #produtoForm="ngForm">
    <div class="form-field">
      <label for="nome">Nome:</label>
      <input type="text" id="nome" name="nome" [(ngModel)]="ferramenta!.nome!" required>
    </div>

    <div class="form-field">
      <label for="nomeLongo">Nome longo:</label>
      <input type="text" id="nomeLongo" name="nomeLongo" [(ngModel)]="ferramenta!.nomeLongo!" required>
    </div >

    <div class="form-field">
      <label for="descricao">Descricao:</label>
      <input type="text" id="descricao" name="descricao" [(ngModel)]="ferramenta!.descricao!" required>
    </div >

    <div class="form-field">
      <label for="valorCompra">Custo:</label>
      <input type="number" id="valorCompra" name="valorCompra" [(ngModel)]="ferramenta!.valorCompra!" required>
    </div >

    <div class="form-field">
      <label for="preco">Preço:</label>
      <input type="number" id="preco" name="preco" [(ngModel)]="ferramenta!.preco!" required>
    </div >

    <div class="form-field">
      <label for="estoque">Estoque:</label>
      <input type="number" id="estoque" name="estoque" [(ngModel)]="ferramenta!.estoque!" required>
    </div >


    <div class="button-container">
      <button mat-flat-button color="warn" (click)="cancelar()">Cancelar</button>
      <button mat-flat-button color="primary" type="submit" (click)="atualizarFerramenta()">Atualizar</button>
    </div>
  </form>
</div >
