<div class="container">
  <div class="profile-container">
    <div class="header">
      <h2>Perfil do Usuário</h2>
      <button mat-button color="primary" (click)="editarPerfil()">Editar</button>
    </div>
    <div class="profile-details">
      <div class="profile-item">
        <label>Nome:</label> {{ usuario!.nome! || null}}
      </div>
      <div class="profile-item">
        <label>Email:</label> {{ usuario!.email! || null}}
      </div>
      <div class="profile-item">
        <label>Data de Nascimento:</label> {{ usuario!.dataNascimento!  || null}}
      </div>
      <div class="profile-item">
        <label>CPF:</label> {{ usuario!.cpf! || null}}
      </div>
      <div class="profile-item">
        <label>Telefones:</label>
        @for (telefone of tell; track 'tell') {
         {{ telefone || null }} -
        }
      </div>
    </div>
  </div>

  <div class="user-options">
    <div class="card" (click)="irParaFavoritos()"><i class="icon" ><mat-icon>favorite</mat-icon></i>Gostei</div>
    <!-- <div class="card" (click)="irParaPedidos()"><i class="icon" ><mat-icon>local_mall</mat-icon></i> Pedidos</div> -->
    <div class="card" (click)="irParaEnderecos()"><i class="icon" ><mat-icon>home</mat-icon></i> Endereços</div>
    <div class="card" (click)="irParaCompras()"><i class="icon" ><mat-icon>shopping_bag</mat-icon></i>Compras</div>
    <div class="card" (click)="irParaTelefones()"><i class="icon" ><mat-icon>phone</mat-icon></i> Telefones</div>
    <div class="card" (click)="irParaDados()"><i class="icon" ><mat-icon>person</mat-icon></i> Dados da Conta</div>
    @if(isAdmin == true){
      <div class="card" (click)="irParaAdmin()"><i class="icon" ><mat-icon>admin_panel_settings</mat-icon></i>Painel de Gerencia</div> <!-- Card só para admins -->
    }

  </div>
  <div class="services">
    <h1>Serviços</h1>
    <div class="card" (click)="irParaServicos()"><i class="icon">🆘</i> Central de Ajuda</div>
    <div class="card" (click)="irParaQuestions()"><i class="icon">❓</i> Perguntas e Respostas</div>
    <div class="card" (click)="irParaSugestoes()"><i class="icon">💡</i> Sugestão</div>
  </div>
</div>
