.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-container {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #5d4aff;
  padding: 20px;
  background-color: #cedfff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-details {
  margin-top: 20px;
}

.profile-item {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .profile-container {
    width: 100%;
  }
}


.sidebar {
  background-color: #333;
  color: white;
  padding: 20px;
  width: 80%;
}

.user-options, .services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.card {
  cursor: pointer;
  background-color: #007bff; /* Cor primária */
  color: white;
  margin: 10px;
  padding: 20px;
  width: calc(30% - 10px); /* Dois cards por linha */
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  font-size: 24px; /* Tamanho do ícone */
  margin-bottom: 10px;
}

.services h1 {
  width: 100%;
  text-align: center;
}
