
<div class="login-container">
  <button class="home-button" (click)="irParaHome()">
    <mat-icon>home</mat-icon>
  </button>
  <form class="login-form" (ngSubmit)="login()">
    <h2>Login</h2>

    <div class="form-field">
      <label for="username">Usuário</label>
      <input mat-input type="text" id="username" [(ngModel)]="username" name="username" required>
    </div>

    <div class="form-field">
      <label for="password">Senha</label>
      <input mat-input type="password" id="password" [(ngModel)]="password" name="password" required>
    </div>

    <button type="submit">Entrar</button>
    <button (click)="irCadastro()">Cadastrar-se</button>
  </form>
</div>
