/* produto.component.css */
.new-produto-form {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.new-produto-form h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.new-produto-form div {
  margin-bottom: 10px;
}

.new-produto-form label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}

.new-produto-form input[type="text"],
.new-produto-form input[type="number"],
.new-produto-form select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Add this line to include padding in width */
}

.new-produto-form select {
  background-color: white;
}

.new-produto-form button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.new-produto-form button[type="submit"]:hover {
  background-color: #0056b3;
}
