<div class="new-cupom-form">
  <h2>Cadastro de novo Cupom</h2>
  <form #cupomForm="ngForm" (ngSubmit)="adicionarCupom()">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" [(ngModel)]="cupom!.nome!" required>

    <label for="codigo">Codigo:</label>
    <input type="text" id="codigo" name="codigo" [(ngModel)]="cupom!.codigo!" required>

    <label for="desconto">Porcentagem de desconto:</label>
    <input type="number" maxlength="2" id="desconto" name="desconto" [(ngModel)]="cupom!.valorDesconto" required>

    <label for="estoque">Estoque:</label>
    <input type="number" id="estoque" name="estoque" [(ngModel)]="cupom!.quantidade" required>

    <button type="submit" (click)="adicionarCupom()">Cadastrar cupom</button>
  </form>
</div>
