<mat-card class="product-card">
  <div (click)="irParaDetail()">
     <img src="{{imageUrl}}" alt="{{title}}" class="imagem">  <!-- desenvolvimento -->
    <!-- <img src="http://localhost:8080/file/download/{{imageUrl}}" alt="{{title}}" class="imagem"> <!-- producao -->
  </div>
  <div class="title" (click)="irParaDetail()">{{title}}</div>
  <div class="price">R$ {{price}}</div>
  <div class="buttons">
    <button mat-raised-button color="warn" class="buy-button" (click)="comprar()">
      <mat-icon>shopping_cart</mat-icon> <a>Comprar</a>
    </button>
    <button mat-icon-button (click)=curtir() class="like-button">
      <mat-icon>{{ favoritado ? 'favorite' : 'favorite_border' }}</mat-icon>

    </button>
</div>

</mat-card>
