<mat-card class="product-card">
  <div (click)="irParaDetail()"><img src="{{imageUrl}}" alt="{{title}}" class="imagem"></div>
  <div class="title">{{title}}</div>
  <div class="price">R$ {{price}}</div>
  <div class="buttons">
    <button mat-raised-button color="warn" class="buy-button" (click)="comprar()">
      <mat-icon>shopping_cart</mat-icon> <a>Comprar</a>
    </button>
    <button mat-icon-button (click)="curtir()" class="like-button">
      <mat-icon>favorite</mat-icon>
    </button>
</div>

</mat-card>
