<p>home works!</p>
<mat-card>
  <mat-card-content>Simple card</mat-card-content>
</mat-card>
<div class="produtos-home">
  <app-card-produto>
    [id]="'123'"
    [imageUrl]="'https://example.com/image.jpg'"
    [title]="'Produto Especial'"
    [price]="29.99"
    [stars]="5">
  </app-card-produto>
  <app-card-produto>
    [id]="'123'"
    [imageUrl]="'https://example.com/image.jpg'"
    [title]="'Produto Especial'"
    [price]="29.99"
    [stars]="5">
  </app-card-produto>
  <app-card-produto>
    [id]="'123'"
    [imageUrl]="'https://example.com/image.jpg'"
    [title]="'Produto Especial'"
    [price]="29.99"
    [stars]="5">
  </app-card-produto>
  <app-card-produto>
    [id]="'123'"
    [imageUrl]="'https://example.com/image.jpg'"
    [title]="'Produto Especial'"
    [price]="29.99"
    [stars]="5">
  </app-card-produto>
  <app-card-produto>
    [id]="'123'"
    [imageUrl]="'https://example.com/image.jpg'"
    [title]="'Produto Especial'"
    [price]="29.99"
    [stars]="5">
  </app-card-produto>
  <app-card-produto>
    [id]="'123'"
    [imageUrl]="'https://example.com/image.jpg'"
    [title]="'Produto Especial'"
    [price]="29.99"
    [stars]="5">
  </app-card-produto>
  <app-card-produto>
    [id]="'123'"
    [imageUrl]="'https://example.com/image.jpg'"
    [title]="'Produto Especial'"
    [price]="29.99"
    [stars]="5">
  </app-card-produto>
  <app-card-produto>
    [id]="'123'"
    [imageUrl]="'https://example.com/image.jpg'"
    [title]="'Produto Especial'"
    [price]="29.99"
    [stars]="5">
  </app-card-produto>
  <app-card-produto>
    [id]="'123'"
    [imageUrl]="'https://example.com/image.jpg'"
    [title]="'Produto Especial'"
    [price]="29.99"
    [stars]="5">
  </app-card-produto>
  <app-card-produto>
    [id]="'123'"
    [imageUrl]="'https://example.com/image.jpg'"
    [title]="'Produto Especial'"
    [price]="29.99"
    [stars]="5">
  </app-card-produto>
  <app-card-produto>
    [id]="'123'"
    [imageUrl]="'https://example.com/image.jpg'"
    [title]="'Produto Especial'"
    [price]="29.99"
    [stars]="5">
  </app-card-produto>
  <app-card-produto>
    [id]="'123'"
    [imageUrl]="'https://example.com/image.jpg'"
    [title]="'Produto Especial'"
    [price]="29.99"
    [stars]="5">
  </app-card-produto>
  <app-card-produto>
    [id]="'123'"
    [imageUrl]="'https://example.com/image.jpg'"
    [title]="'Produto Especial'"
    [price]="29.99"
    [stars]="5">
  </app-card-produto>
  <app-card-produto>
    [id]="'123'"
    [imageUrl]="'https://example.com/image.jpg'"
    [title]="'Produto Especial'"
    [price]="29.99"
    [stars]="5">
  </app-card-produto>
  <app-card-produto>
    [id]="'123'"
    [imageUrl]="'https://example.com/image.jpg'"
    [title]="'Produto Especial'"
    [price]="29.99"
    [stars]="5">
  </app-card-produto>

</div>
