.produtos-home{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  align-items: center;
}
.carrossel{
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {

.produtos-home{
  gap: 10px
}

}
