
<div class="button-container">
  <button mat-raised-button color="primary" style="width: 100%; border-radius: 8px; background-color: green;"
    (click)="irParaNewCategoria()">
    <mat-icon>add</mat-icon>
    Adicionar Categoria
  </button>
</div>
<table class="tabela-produtos">
  <thead>
    <tr>
      <th style="width: 10%;">ID</th>
      <th style="width: 70%;">Nome</th>
      <th style="width: 10%;">Editar</th>
      <th style="width: 10%;">Excluir</th>
    </tr>
  </thead>
  <tbody>
    @for (categoria of categorias; track categoria.id) {
    <tr>
      <td>{{ categoria.id }}</td>
      <td>{{ categoria.nome }}</td>
      <td><button mat-icon-button (click)="editarCategoria(categoria.id!)">
          <mat-icon>edit</mat-icon>
        </button></td>
      <td><button mat-icon-button (click)="excluirCategoria(categoria.id!)">
          <mat-icon>delete</mat-icon>
        </button></td>

    </tr>
    }

  </tbody>
</table>
