<div class="button-container">
  <button mat-raised-button color="primary" style="width: 100%; border-radius: 8px; background-color: green;"
    (click)="irParaNewMarca()">
    <mat-icon>add</mat-icon>
    Adicionar Marca
  </button>
</div>
<table class="tabela-marcas">
  <thead>
    <tr>
      <th style="width: 20%;">ID</th>
      <th style="width: 60%;">Nome</th>
      <th style="width: 10%;">Editar</th>
      <th style="width: 10%;">Excluir</th>
    </tr>
  </thead>
  <tbody>
    @for(marca of marcas; track marca.id){
    <tr>
      <td>{{ marca.id }}</td>
      <td>{{ marca.nome }}</td>
      <td><mat-icon (click)="editar(marca.id)">edit</mat-icon></td>
      <td><mat-icon (click)="deletar(marca.id!, marca.nome!)">delete</mat-icon></td>

    </tr>
    }

  </tbody>
</table>
