.tabela-marcas {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px; /* Espaçamento acima da tabela */
}

.tabela-marcas th, .tabela-marcas td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.tabela-marcas th {
  background-color: #f2f2f2;
}

.tabela-marcas mat-icon-button {
  color: #757575; /* Cor mais suave para os ícones */
  margin: 0 5px; /* Espaçamento ao redor dos ícones */
}

.tabela-marcas mat-icon-button:hover {
  color: #333; /* Cor um pouco mais escura ao passar o mouse */
}
