.cart-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.images{
  max-width: 220px;
  max-height : 250px;
  padding: 10px;

}

.details {
  margin-left: 15px;
}

.quantity-control button {
  margin: 0 5px;
}

.cart-summary {
  width: 30%;
  margin-top: 20px;
}

.finalize-button {
  background-color: orange;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
.containers{
  display: flex;
  justify-content: center;
}


.columnA{
  width: 70%;
}


@media (max-width: 800px) {
  .cart-summary {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    z-index: 100;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .finalize-button {
    width: 75%;
    border-radius: 10px;
    margin: 0 auto;
  }
  .images{
    width: 150;
    height: 180;
  }

  .containers {
    flex-direction: column;
  }

  .columnA, .cart-summary {
    width: 100%;
  }

  .cart-item, .quantity-control, .details {
    align-items: center;
    text-align: center;
  }
}
