<div class="shopping-cart-container">
  <div class="containers">
    <div class="columnA">
      @for (produto of produtos; track produto.id) {
      <div class="cart-item">
        <img src="{{produto.img![0]}}" alt="{{produto.nome}}" class="images">
        <div>
          <h3>{{produto.nome}}</h3>
          <div class="quantity-control">
            <button (click)="diminuirQuantidade(produto.id!)">-</button>
            <span>{{getQuantidade(produto.id!)}}</span>
            <button (click)="aumentarQuantidade(produto.id!)">+</button>
             <p>R$ {{produto.preco!}} | Total: R$ {{getQuantidade(produto.id!) * produto.preco!}}</p>
          </div>
        </div>
      </div>

      }
    </div>
    <div class="cart-summary">
        <h2>Total: R$ {{ this.total }}</h2>
        <button class="finalize-button" (click)="finalizarCompra()">Finalizar Compra</button>
    </div>
  </div>


</div>
